/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.font-alatsi{
  font-family: 'Alatsi', sans-serif;

}
.border-md {
  border-width: 2px;
}

.btn-facebook {
  background: #405D9D;
  border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #42AEEC;
  border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
  background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
  min-height: 100vh;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}
/* st nav-bar */
.bg-color{
  background-color: white;
  }
  .navbar-nav > li{
      margin-left:5px;
      margin-right:5px;
      font-weight: bold;
    }
  .navbar-nav >li>a{
      font-weight: bold;
      color: white;
  }
  #Nav-Name{
      font-weight: bold;
      color:black;
      margin-right:auto;
  }
  /* en nav-bar */
  
  /* st suggessgins and edit distance */
  .li{
    font-weight: bold;
    font-size: 100px;
  }